body {
    font-family: system-ui;
    background-image: url("https://cdn.pixabay.com/photo/2018/08/17/10/04/traffic-3612474_960_720.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    height: 100%;
}

#logoutButton{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.612);
    color: white;
    cursor: pointer;
}

#logoutButton:hover {
    background-color: rgba(0, 0, 0, 0.334);
}

h1 {
     text-shadow: 5px 3px #000000;
}

h2 {
     text-shadow: 5px 3px #000000;
}

#Main {
    position: relative;
    top: 20px;
    left: 35%;
    text-align: center;
    width: 30%;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.24);
    border-radius: 150px;
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="Search"],
textarea {
    width: 30%;
    padding: 3px;
}

::placeholder{
    color:  white;
    text-indent: 10%;
    opacity: .8;
}

#searchDiv{
    position: absolute;
    top: 5%;
    width: 30%;
}

#searchInput{
    position: absolute;
    left: 5%;
    width: 60%;
    color: #ffffff;
    text-indent: 10%;
    font-size: 1.2rem;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.612);
    border-radius: 150px;
}

#searchInput:hover {
    border-color: rgba(255, 255, 255, 0.646);
}

#searchButton {
    position: absolute;
    right: 35%;
    padding: 3px;
    padding-left: 5px;
    color: #ffffff;
    opacity: .8;
    cursor: pointer;
    font-size: 1.2rem;
    text-align: left;
    font-size: 1.2rem;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.612);
    border-radius: 150px;
}

#searchButton:hover {
    border-color: rgba(255, 255, 255, 0.646);
    opacity: 1;
}

.hiddenDiv {
    position: relative;
    left: 30%;
    margin-top: 22px;
    text-align: center;
    width: 40%;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.612);
    border-radius: 150px;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 1s ease;
}

.visibleDiv {
    opacity: 1;
    height: auto;
}

.dropdown {
    position: absolute;
    top: 13%;
    right: 5%;
    width: 20%;
    height: 5%;
    font-size: 2rem;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.612);
    border-radius: 15px;
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#history{
    margin-top: 0;
    cursor: default;
}

.arrow:hover {
    border-color: rgba(255, 255, 255, 0.646);
}

.arrowSelect{
    position: absolute;
    top: 0;
    right: 0;
    width: 11%;
    height: 100%;
    margin-top: 0;
    cursor: pointer;
    z-index: 10;
    border: 2px;
}

.arrowSelect:hover {
    background-color: rgba(255, 255, 255, 0.237);
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    width: 99%;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.612);
    border: 2px solid rgb(0, 0, 0);
    border-top: 0;
}

.dropdown.active .dropdown-content {
    display: block;
}

#arrayData {
    margin-top: 3px;
    white-space: pre-wrap;
}

footer {
    position: absolute;
    bottom: 20px;
    left: 42%;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 150px;
}
